.t-primary-colors {
  background-color: wheat;
  color: #333; }

.t-secondary-colors {
  background-color: teal;
  color: #fff; }

.red, .l-cart-btn-remove-wrapper, .event-time, .l-herostory-subtitle, .l-mus-sidestories .img-2, .l-tracklist-groupname {
  background-color: none; }

.blue, .btn-addtocart, .l-cart-textinput, .l-herostory-title, .l-tracklist-trackname, .l-tracklist-description {
  background-color: none; }

.purple, .b-header, .header, .l-hero-buttons, .l-mus-sidestories, .l-mus-sidestories .img-1, .l-mus-sidestories .img-3, .product-container {
  background-color: none; }

.orange, .onecol, .l-cart-pricedetails-wrapper, .l-herostory-bodytext, .l-mus-mainstory, .l-storylist-title {
  background-color: none; }

.pink, .cart2-deprecated .content .c-price-details-container {
  background-color: none; }

.teal, .l-cart-title, .l-cart-subtitle, .l-cart-price, .l-cart-total, .cart2-deprecated .content .c-p-name, .cart2-deprecated .content .c-price, .event-date, .event-name {
  background-color: none; }

.wheat, .cart2-deprecated .content .c-p-photo-container, .l-herostory-wrapper {
  background-color: none; }

.white, .event-photo-container img {
  background-color: none; }

.orange, .onecol, .l-cart-pricedetails-wrapper, .l-herostory-bodytext, .l-mus-mainstory, .l-storylist-title {
  background-color: none; }

.yellow, .l-cart-titlewrapper, .cart2-deprecated .content .c-p-name-container, .l-storylist-subtitle {
  background-color: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: wheat;
  font-family: Waree-Regular, URW-Bookman-L-Light;
  line-height: 1.6; }

section {
  display: flex; }

article, section {
  width: 100%; }

a {
  text-decoration: none;
  color: #333; }

a:hover {
  text-decoration: none; }

h1, h2, h3, h4, h5, p {
  overflow: hidden;
  text-align: center;
  font-weight: normal; }

h2 {
  font-size: 34px; }

h3 {
  font-size: 25px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

/* 
---------------------------------*/
.b-fullwidth {
  width: 100%; }

.b-container {
  padding: 0 0;
  margin: 0 auto;
  overflow: auto; }

.b-section-container {
  max-width: 1100px;
  padding: 110px 0;
  margin: 0 auto;
  overflow: auto;
  width: 100%; }

.b-footer-wrapper {
  max-width: 1400px;
  padding: 50px 0;
  margin: 0 auto;
  overflow: auto;
  width: 100%; }

/* Bootstrap based variables

  row
  col
    row cols-2
      col-7 top-left
      col-5 top-right
    row cols-2
      col bottom-left
      col bottom-right

------------------------------------*/
.b-flex-col, .b-header {
  display: flex;
  flex-direction: column;
  align-items: center; }

.b-flex-row {
  display: flex;
  flex-direction: row; }

.b-flex-center, .b-header h2 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center; }

.b-flex-col-3 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.b-flex-col-fullwidth {
  flex: 0 0 100%;
  max-width: 100%; }

.b-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.b-col {
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }

.b-col, .b-col-2, .b-col-5, .b-col-7 {
  position: relative;
  width: 100%;
  min-height: 1px; }

.b-col-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.333333%;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%; }

.b-col-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.666667%;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%; }

.b-grid-center {
  display: grid;
  place-items: center; }

.b-bordertop, .b-borders {
  border-top: 1px solid blue; }

.b-borderbottom, .b-borders {
  border-bottom: 1px solid blue; }

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-end {
  justify-content: flex-end; }

.flex-center, .header h2, .cart2-deprecated .content article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center; }

.grid-center, .btn-remove {
  display: grid;
  place-items: center; }

.threewide {
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column; }

.rowwrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.display-none {
  display: none; }

.container {
  padding: 0 0;
  margin: 0 auto;
  overflow: auto; }

.section-container {
  max-width: 1000px;
  padding: 110px 0;
  margin: 0 auto;
  overflow: auto;
  width: 100%; }

.primarycolor {
  background-color: wheat;
  color: #333; }

.flexcol {
  display: flex;
  flex-direction: column;
  align-items: center; }

.flexrow {
  display: flex;
  flex-direction: row; }

.flex-container-col, .header, .cart2-deprecated .content .c-p-photo-container, .cart2-deprecated .content .c-price-details, .l-mus-sidestories {
  display: flex;
  flex-direction: column;
  align-items: center; }

.flex-container-row, .onecol, .tworow, .cart2-deprecated .content article, .cart2-deprecated .content .c-p-name-container, .cart2-deprecated .content .c-price-details-container, .cart2-deprecated .content .c-buttons {
  display: flex;
  flex-direction: row; }

.gridcenter {
  display: grid;
  place-items: center; }

.flex-item, .btn-addtocart, .cart2-deprecated .content .c-p-name, .cart2-deprecated .content .c-price, .cart2-deprecated .content .c-available {
  width: 100%; }

.item {
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }

/* Loops */
.m-1 {
  margin: 1rem; }

.my-1 {
  margin: 1rem 0; }

.mx-1 {
  margin: 0 1rem; }

.p-1 {
  padding: 1rem; }

.py-1 {
  padding: 1rem 0; }

.px-1 {
  padding: 0 1rem; }

.m-2 {
  margin: 2rem; }

.my-2 {
  margin: 2rem 0; }

.mx-2 {
  margin: 0 2rem; }

.p-2 {
  padding: 2rem; }

.py-2 {
  padding: 2rem 0; }

.px-2 {
  padding: 0 2rem; }

.m-3 {
  margin: 3rem; }

.my-3 {
  margin: 3rem 0; }

.mx-3 {
  margin: 0 3rem; }

.p-3 {
  padding: 3rem; }

.py-3 {
  padding: 3rem 0; }

.px-3 {
  padding: 0 3rem; }

.m-4 {
  margin: 4rem; }

.my-4 {
  margin: 4rem 0; }

.mx-4 {
  margin: 0 4rem; }

.p-4 {
  padding: 4rem; }

.py-4 {
  padding: 4rem 0; }

.px-4 {
  padding: 0 4rem; }

.m-5 {
  margin: 5rem; }

.my-5 {
  margin: 5rem 0; }

.mx-5 {
  margin: 0 5rem; }

.p-5 {
  padding: 5rem; }

.py-5 {
  padding: 5rem 0; }

.px-5 {
  padding: 0 5rem; }

.box {
  box-sizing: border-box;
  display: inline-block;
  float: none;
  line-height: normal;
  position: static;
  z-index: auto; }

.btn-primary, .btn-subscribe, .btn-addtocart, .btn-remove, .btn-secondary {
  display: inline-block;
  border-radius: 5px; }
  .btn-primary:hover, .btn-subscribe:hover, .btn-addtocart:hover, .btn-remove:hover, .btn-secondary:hover {
    transform: scale(0.98); }

.btn-primary, .btn-subscribe, .btn-addtocart, .btn-remove {
  background-color: #fbf2e0;
  color: #333; }

.btn-secondary {
  background-color: #a89dc3;
  color: #fff; }

.btn-subscribe {
  height: 35px;
  width: 80%; }

.b-input-box-wrapper {
  overflow: none;
  display: flex;
  flex-direction: column;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: red;
  margin: 25px; }

.b-input-box {
  border-style: solid;
  border-width: 0 0 1px;
  max-width: 600px;
  min-width: 400px;
  height: 30px; }

.b-input-checkbox {
  border-style: solid;
  border-width: 0 0 1px; }

/* Cart
------------------------------------------------*/
.l-cart-wrapper {
  padding: 12px 0; }

.l-cart-photowrapper {
  max-width: 18%;
  display: grid;
  place-items: center; }
  .l-cart-photowrapper img {
    height: 120px;
    width: 100px;
    padding: 8px 0;
    padding-right: 8px; }

.l-cart-titlewrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 3.5%;
  margin-right: 8%; }

.l-cart-title {
  margin: 2% 0;
  width: 100%;
  text-align: left; }

.l-cart-subtitle {
  width: 100%;
  text-align: left; }

.cart-pricecurrency {
  display: none; }

.l-cart-pricetools-wrapper, .l-cart-pricedetails-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%; }

.l-cart-pricedetails-wrapper {
  overflow: hidden;
  place-items: center;
  width: 100%;
  max-width: 35%;
  padding: 0 3%; }

.l-cart-textinput, .l-cart-price, .l-cart-btn-remove {
  height: 30px; }

.l-cart-btn-remove-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: left; }

.l-cart-price {
  flex: 0 0 33.3333333%;
  max-width: 33.3333333%; }

.l-cart-textinput {
  flex: 0 0 33.3333333%;
  max-width: 33.3333333%; }

.l-cart-total {
  flex: 0 0 33.3333333%;
  max-width: 33.3333333%; }

.cart2-deprecated {
  background-color: wheat;
  color: #333; }
  .cart2-deprecated .content img {
    width: 100px;
    height: 100px;
    padding: 0 8%; }
  .cart2-deprecated .content .c-p-photo-container {
    justify-content: center;
    height: 120px; }
  .cart2-deprecated .content .c-p-name-container {
    width: 100%;
    padding: 0 8%; }
  .cart2-deprecated .content .c-price-details-container {
    justify-content: right;
    width: 100%;
    max-width: 25%;
    padding: 0 4%; }
  .cart2-deprecated .content .border-top, .cart2-deprecated .content article {
    border-top: 1px solid blue; }
  .cart2-deprecated .content .border-bottom, .cart2-deprecated .content article {
    border-bottom: 1px solid blue; }

.cart3-deprecated {
  background-color: wheat;
  color: #333; }
  .cart3-deprecated .section-container, .cart3-deprecated table {
    width: 100%; }
  .cart3-deprecated img {
    width: 100px;
    height: 100px;
    object-fit: scale-down; }
  .cart3-deprecated .content {
    flex-direction: column; }
    .cart3-deprecated .content table {
      display: table; }
    .cart3-deprecated .content thead {
      display: table-header-group; }
    .cart3-deprecated .content tbody {
      display: table-row-group; }
    .cart3-deprecated .content tr {
      display: table-row; }
    .cart3-deprecated .content .cart-product {
      display: flex; }
    .cart3-deprecated .content .border-top, .cart3-deprecated .cart2-deprecated .content article, .cart2-deprecated .cart3-deprecated .content article {
      border-top: 1px solid blue; }
    .cart3-deprecated .content .border-bottom, .cart3-deprecated .cart2-deprecated .content article, .cart2-deprecated .cart3-deprecated .content article {
      border-bottom: 1px solid blue; }

/* Banner Image
------------------------------------------------*/
.cover {
  color: #333;
  height: 100%; }
  .cover img {
    width: 100%;
    object-fit: cover; }

.cover2 {
  color: #333;
  height: 100%; }
  .cover2 img {
    width: 100%;
    object-fit: cover; }

/* Events
-------------------------------------*/
.event-colors {
  background-color: wheat;
  color: #333; }

.event article {
  margin: 4% 0;
  padding: 0 1.5%;
  max-height: 120px; }

.event-photo-container {
  overflow: hidden;
  flex: 0 0 25%;
  max-width: 25%; }
  .event-photo-container img {
    width: 100px;
    height: 100px; }

.event-info-container {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 1.5%; }

.event-place-container {
  display: none; }

.event-offer-container {
  flex: 0 0 25%;
  max-width: 25%; }

.event-date, .event-time, .event-name, .event-button {
  width: 100%;
  text-align: left; }

.event-date {
  height: 100%;
  padding: 0 10%; }

.event-time {
  height: 100%;
  padding: 0 10%; }

.event-name {
  min-height: 50%;
  max-height: 120px;
  display: flex;
  felx-direction: column;
  align-items: center; }
  .event-name h3 {
    text-align: left; }

/* Footer
------------------------------------------------*/
.footer {
  background-color: teal;
  color: #fff; }
  .footer .content {
    display: flex;
    flex-direction: column; }

.l-footer-logo, .l-footer-home-wrapper, .l-footer-credits-wrapper, .l-footer-liscense-wrapper, .l-footer-links-wrapper {
  text-align: center; }

.l-footer-links-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .l-footer-links-wrapper li {
    display: flex;
    padding: 0 5px; }

/* Header 
------------------------------------------------*/
.l-nav-wrapper {
  width: 100%;
  height: 65px;
  max-width: 1200px; }

.l-nav-view {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .l-nav-view li {
    padding: 1%; }
  .l-nav-view a {
    color: #333; }
  .l-nav-view a:hover {
    color: wheat; }

.l-nav-links {
  display: flex;
  list-style-type: none;
  justify-content: right; }

/* Hero
------------------------------------------------*/
.l-hero-wrapper {
  flex-direction: row; }

.l-hero-photo {
  width: 50%; }

.l-hero-title, .l-hero-longtext, .l-hero-buttons {
  margin: 15px; }

.l-hero-buttons {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 80px; }

.about-deprecated {
  background-color: teal;
  color: #fff; }
  .about-deprecated .content {
    flex-direction: row; }
    .about-deprecated .content img {
      width: 50%; }
    .about-deprecated .content h1 {
      font-size: 50px;
      line-height: 1.2; }

/* Hero Story
TODO: fix small viewport
------------------------------------*/
.l-herostory-wrapper {
  display: flex;
  justify-content: center;
  width: 100%; }

.l-herostory-photo img {
  width: 100%;
  max-width: 550px;
  height: 450px; }

.l-herostory-view {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.l-herostory-title, .l-herostory-subtitle, .l-herostory-bodytext {
  margin: 1.5% 0; }

.l-herostory-title {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 5px; }

.l-herostory-subtitle {
  text-align: left;
  padding: 5px 0; }

.l-herostory-bodytext {
  text-align: left; }

.grid-mus-coverstories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px;
  grid-template-areas: 'grid-main-story grid-secondary-stories'; }

.grid-main-story {
  grid-area: grid-main-story; }
  .grid-main-story img {
    width: 600px;
    max-height: 600px; }

.grid-secondary-stories {
  grid-area: grid-secondary-stories;
  overflow: scroll; }
  .grid-secondary-stories img {
    width: 300px;
    height: 200px; }

.l-mus-coverstories {
  display: flex;
  flex-direction: row; }

.l-mus-mainstory {
  display: flex; }
  .l-mus-mainstory img {
    width: 100%;
    height: 100%; }

.l-mus-sidestories {
  flex: 0 0 29%;
  max-width: 29%; }
  .l-mus-sidestories img {
    width: 90%;
    height: 30%; }
  .l-mus-sidestories .img-1 {
    width: 100%;
    height: 100%; }
  .l-mus-sidestories .img-2 {
    width: 100%;
    height: 100%; }
  .l-mus-sidestories .img-3 {
    width: 100%;
    height: 100%; }

/* Story List
------------------------------------*/
.l-storylist-view {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  min-height: 320px;
  margin: 10px 10px; }

.l-storylist-photo {
  width: 220px;
  height: 150px; }

.l-storylist-title {
  text-align: left;
  height: 100%; }

.l-storylist-subtitle {
  text-align: left;
  height: 100%; }

.l-tracklist-view {
  margin: 10px 10px; }
  .l-tracklist-view img {
    width: 280px;
    height: 280px; }

.l-tracklist-trackname, .l-tracklist-groupname, .l-tracklist-description {
  margin: 10px 0; }

.l-tracklist-trackname {
  text-align: left; }

.l-tracklist-groupname {
  text-align: left; }

.l-tracklist-description {
  text-align: left; }

.product-colors {
  background-color: wheat;
  color: #333; }

.product-container {
  padding: 8%; }
  .product-container img {
    width: 80%; }

/* Specials v1 (a table of specials)
------------------------------------------------*/
.l-wellytables-wrapper {
  background-color: wheat;
  color: #333; }

.l-wellytable-wrapper {
  background-color: wheat;
  color: #333;
  padding: 15px 0;
  height: 100%; }
  .l-wellytable-wrapper img {
    display: none; }

.l-wellytable-view {
  overflow: hidden; }
  .l-wellytable-view a {
    color: #333; }
  .l-wellytable-view .b-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 100%; }
    .l-wellytable-view .b-col .Photo-Gallery-Container {
      display: none; }
  .l-wellytable-view .b-cols-2 {
    display: flex;
    flex-direction: row;
    flex-basis: 100%; }
    .l-wellytable-view .b-cols-2 h4, .l-wellytable-view .b-cols-2 h5 {
      display: flex;
      justify-content: center; }
  .l-wellytable-view .b-col-1 {
    flex-basis: 75%; }
  .l-wellytable-view .b-col-2 {
    flex: 0 0 30%; }
  .l-wellytable-view .l-wellyspecial-details {
    flex-wrap: nowrap; }
  .l-wellytable-view .l-wellyspecial-name, .l-wellytable-view .l-wellyspecial-venue, .l-wellytable-view .l-wellyspecial-countdown, .l-wellytable-view .l-wellyspecial-distance {
    padding: 0 5px; }
  .l-wellytable-view .l-wellyspecial-name {
    flex: 0 0 60%; }
  .l-wellytable-view .l-wellyspecial-venue {
    flex: 0 0 40%; }

/* Specials v2 (with special-box)
------------------------------------------------*/
.l-wellyspecials-wrapper {
  background-color: wheat;
  color: #333;
  height: 100%; }

.l-wellyspecials-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .l-wellyspecials-view h2 {
    align-items: center; }
  .l-wellyspecials-view h1 {
    font-size: 50px;
    line-height: 1.2; }

.l-wellyspecial-wrapper {
  height: 100%;
  width: 100%; }
  .l-wellyspecial-wrapper .container {
    max-width: 1050px; }
  .l-wellyspecial-wrapper h3 {
    font-size: 45; }
  .l-wellyspecial-wrapper img {
    display: none; }

.l-wellyspecial-box {
  margin: 3px;
  border: 2px solid #999;
  border-radius: 15px 15px;
  padding-right: 15px;
  padding-left: 15px; }

.l-wellyspecial-view {
  align-items: center;
  justify-content: center; }
  .l-wellyspecial-view p {
    font-size: 15px; }
  .l-wellyspecial-view .special-description {
    font-size: 12px; }

.l-wellyspecial-name {
  font-size: 17px;
  text-align: left; }

.l-wellyspecial-venue {
  font-size: 15px;
  text-align: right; }

.l-wellyspecial-countdown p {
  text-align: left; }

.l-wellyspecial-distance {
  text-align: right; }

/* Header 
------------------------------------------------*/
.l-wellynav-wrapper {
  height: 65px; }
  .l-wellynav-wrapper .container {
    max-width: 1200px; }

.l-wellynav-view {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .l-wellynav-view ul {
    display: flex;
    list-style-type: none; }
  .l-wellynav-view li {
    padding: 15px; }
  .l-wellynav-view a {
    color: #333; }
  .l-wellynav-view a:hover {
    color: wheat; }

@media (max-width: 769px) {
  .l-cart-pricedetails-wrapper {
    flex-direction: column; }

  .l-cart-price {
    min-width: 100%; }

  .l-cart-total {
    min-width: 100%; }

  .l-cart-textinput {
    min-width: 100%; } }
@media (min-width: 320px) and (max-width: 569px) {
  .l-cart-pricedetails-wrapper {
    flex-direction: column; } }
@media (max-width: 319px) {
  .l-cart-pricedetails-wrapper {
    flex-direction: column; } }
@media (min-width: 750px) {
  .cover img {
    max-height: 650px; } }
@media (min-width: 590px) and (max-width: 749px) {
  .cover img {
    object-fit: contain; } }
@media (max-width: 589px) {
  .cover img {
    object-fit: contain; }
  .cover .content {
    text-align: center; } }
@media (min-width: 750px) {
  .cover2 img {
    max-height: 650px; } }
@media (max-width: 589px) {
  .cover2 .content {
    text-align: center; } }
@media (max-width: 720px) {
  .about {
    height: 300px; }
    .about img {
      display: none; } }
@media (min-width: 590px) and (max-width: 1100px) {
  .products .content article {
    flex: 0 0 50%;
    min-width: 50%; } }
@media (max-width: 581px) {
  .products .content article {
    flex: 0 0 50%;
    min-width: 50%; } }
/* 4 seperate viewports
-------------------------------------------------*/
@media (min-width: 990px) {
  .l-wellyspecials-wrapper {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px; } }
@media (min-width: 770px) and (max-width: 989px) {
  .l-wellyspecials-wrapper {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px; } }
/* 3 seperate viewports
-------------------------------------------------*/
/* 4 seperate viewports (smaller)
-------------------------------------------------*/
/* 3 viewports
-------------------------------------------------*/
/* Main Header Nav
-------------------------------------------------*/
@media (min-width: 770px) {
  .l-nav-wrapper {
    overflow: hidden; }

  .l-nav-view {
    overflow: hidden; }
    .l-nav-view li {
      padding: 0 25px; }

  .l-nav-logo-wrapper {
    width: 400px; }

  .l-nav-logo-view {
    flex-grow: 1; } }
@media (min-width: 570px) and (max-width: 769px) {
  .l-nav-wrapper {
    overflow: hidden; }

  .l-nav-view li {
    padding: 5%; } }
/* 4 viewports
-----------------------------------------*/
@media (min-width: 770px) {
  .music-cover .content article, .featured-track .content article, .story-list .content article, .track-list .content article {
    flex: 0 0 50%;
    min-width: 50%; }

  .l-mus-coverstories {
    display: flex;
    flex-direction: row; } }
@media (max-width: 769px) {
  .music-cover .content article, .story-list .content article, .track-list .content article {
    flex: 0 0 50%;
    min-width: 50%; }

  .l-mus-coverstories {
    display: flex;
    flex-direction: column; }

  .l-mus-sidestories {
    display: flex;
    flex-direction: row;
    overflow: auto;
    min-width: 100%; }
    .l-mus-sidestories img {
      width: 290px !important;
      height: 210px !important; } }
/* 3 viewports
-----------------------------------------*/
@media (max-width: 589px) {
  .l-hero-photo {
    display: none; } }
/* 4 viewports
-----------------------------------------*/
@media (min-width: 770px) {
  .l-herostory-view {
    max-width: 650px; } }
@media (min-width: 570px) and (max-width: 769px) {
  .l-herostory-view {
    max-width: 650px; } }
@media (max-width: 1000px) {
  .l-footer-logo {
    display: grid;
    place-items: center;
    flex: 0 0 100%;
    max-width: 100%; }

  .l-footer-home-wrapper {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .l-footer-credits-wrapper {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .l-footer-liscense-wrapper {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .l-footer-links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 100%;
    max-width: 100%; } }

/*# sourceMappingURL=styles.css.map */
